.parentWrapped {
  color: white;

  .failed {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 300px 0;

    .link {
      all: unset;
      color: black;
      background-color: white;
      cursor: pointer;
      padding: 20px 50px;
      width: max-content;
      align-self: center;
      border-radius: 5px;
    }

    .link:hover {
      background-color: gray;
    }

  }

  .currentWrapped {
    text-align: center;

    .topArtists {
      background-color: rgb(81, 0, 210);

      h1 {
        font-size: 1.5rem;
        color: rgb(182, 231, 84);
        margin: 0;
        padding: 20px 0 20px 0;
      }

      img {
        border: 5px yellow solid;
        height: 150px;
      }

      ul {
        padding: 10px 0;
        margin: 0;
        list-style-type: none;

        li {
          p {
            margin: 10px 0;
            font-size: 1.1rem;
          }
        }
      }
    }

    .topTracks {
      background-color: rgb(56, 220, 100);
      
      h1 {
        font-size: 1.5rem;
        margin: 0;
        padding: 20px 0 20px 0;
        color: rgb(195, 31, 224);
      }
      
      img {
        border: 5px rgb(222, 35, 255) solid;
        height: 150px;
      }
      
      ul {
        padding: 10px 0;
        margin: 0;
        list-style-type: none;
        
        li {
          p {
            color: rgb(20, 25, 9);
            margin: 10px 0;
            font-size: 1.1rem;
          }
        }
      }
    }

    .timeSpent {
      margin: 0;
      background-color: orange;
      padding: 20px 0;
      color: rgb(24, 1, 130);
      
      h1 {
        margin-top: 0;
        padding: 10px;
        font-size: 1.5rem;
      }

      p {
        font-size: 1.2rem;
      }
    }

    .recommendations {
      padding: 20px;
      background-color: yellow;
      
      h1 {
        text-align: center;
        font-size: 1.5rem;
        color: black;
      }
      
      button {
        all: unset;
        background-color: black;
        padding: 15px 25px;
        border-radius: 13px;
      }
      
      button:hover {
        background-color: lighten($color: rgb(28, 28, 28), $amount: 5%);
      }
      
      ul {
        list-style-type: none;
        
        li {
          margin: 10px;

          a {
            all: unset;
            color: black;
            cursor: pointer;
          }

          a:hover {
            color: red;
          }
        }
      }
      
    }
  }

  @media (min-width: 1024px) {
  }
}
